<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Веб приложение рецептов</a></h1>
    <ul>
      <% if (user) { %>
        <li>Добро пожаловать, <%= user.email %></li>
        <li><a href="/logout">Выйти</a></li>
      <% } else { %>
        <li><a href="/login">Войти</a></li>
        <li><a href="/signup" class="btn">Зарегистрироваться</a></li>
      <% } %>
    </ul>
  </nav>
  