<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/recipe.png" alt="">
  </div>
  <div class="headings">
    <h2>Интересные рецепты</h2>
    <a href="/recipes" class="btn">Просмотреть рецепты</a>
  </div>
</header>