<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/blender.png" alt="blender recipe icon">
    <h4>Banana Boost</h4>
    <p>Банан, Ванильное мороженное, Молоко</p>
  </li>
  <li class="recipe">
    <img src="/blender.png" alt="blender recipe icon">
    <h4>Tropical Twist</h4>
    <p>Персик, Ананас, Яблочный сок</p>
  </li>
  <li class="recipe">
    <img src="/blender.png" alt="blender recipe icon">
    <h4>Protein Packer</h4>
    <p>Овсяные хлопья, Арахисовая паста, Молоко, Банан, Черника</p>
  </li>
  <li class="recipe">
    <img src="/blender.png" alt="blender recipe icon">
    <h4>Banana Boost</h4>
    <p>Банан, Ванильное мороженное, Молоко</p>
  </li>
  <li class="recipe">
    <img src="/blender.png" alt="blender recipe icon">
    <h4>Tropical Twist</h4>
    <p>Персик, Ананас, Яблочный сок</p>
  </li>
  <li class="recipe">
    <img src="/blender.png" alt="blender recipe icon">
    <h4>Protein Packer</h4>
    <p>Овсяные хлопья, Арахисовая паста, Молоко, Банан, Черника</p>
  </li>
</ul>